<div th:fragment="footer-bs-4">
    <div class="container">
        <footer class="d-flex justify-content-center align-items-center py-3 my-4">
            <div class="col d-flex justify-content-center align-items-center">
                    <span class="mb-3 mb-md-0 text-muted">© 2023. Training project "Web-shop" based on <a
                            href="https://youtu.be/7qvwtlnxVH8" target="_blank"> "Spring Boot. Разрабатываем веб-приложение с нуля" by Yakunin.</a>
                             Designed by Andy
                    </span>
            </div>
        </footer>
    </div>
</div>