<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head-bs-4 :: head-bs-4"></head>
<body style="background: black;">
<header th:insert="fragment/navbar :: header-bs-4"></header>
<div th:if="!${#lists.isEmpty(users)}" class="container col-8 justify-content-center mt-5">
    <h2 class="text-center text-info"> Панель администратора</h2>
    <table  class="table table-bordered table-hover table-responsive-md table-dark text-white-50">
        <thead>
        <tr style="background: blueviolet;">
            <td>№ п/п</td>
            <td>Имя пользователя</td>
            <td>Email</td>
            <td>Права</td>
            <td>Статус</td>
            <td>Бан</td>
            <td>Редактировать</td>
        </tr>
        </thead>
        <tbody th:each="user,i : ${users}" class="table-body">
        <tr>
            <td th:text="${i.count}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td th:text="${user.active}?'активный':'заблокирован'"></td>
            <td><a th:href="@{/admin/user/ban/{id}(id=${user.id})}">Бан</a>
            </td>
            <td><a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Редактировать</a></td>
        </tr>
        </tbody>
    </table>
</div>
<span th:insert="fragment/scripts :: scripts-bs-4-1"></span>
<span th:insert="fragment/scripts :: scripts-bs-4-2"></span>
</body>
</html>