<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Web-shop</title>
</head>
<body>
<h3>Авторизация</h3><br>
<form th:action="@{/login}" method="post">
    <span>E-mail: <input type="email" name="username" required></span><br>
    <span>Password: <input type="password" name="password" required></span><br>
    <button type="submit" value="Sign IN">Sign IN</button>
</form>
<a href="/registration">Sign UP</a>
</body>
</html>