<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css">
    <title>Web-shop</title>
</head>
<body id="table">
<h3 th:if="${user==null}"><a href="/login">Log in</a><span>    </span><a href="/registration">Sign up</a></h3>
<div th:if="${user!=null}">
    <form th:action="@{/logout}" method="post">
        <label th:text="${user.name}"></label>
        <input type="submit" value="Log out">
    </form>
    <span th:if="${user.isAdmin()}">
        <a th:href="@{/admin}" style="color:blueviolet; font-size:20px;">Панель Администратора</a>
    </span>
</div>
<br>
<hr>
<h2>Ассортимент</h2>
<div th:if="!${#lists.isEmpty(products)}">
    <table>
        <thead>
        <tr>
            <td>№ п/п</td>
            <td>Название</td>
            <td>Описание</td>
            <td>Цена</td>
            <td>Мини-фото</td>
            <td>Подробнее</td>
        </tr>
        </thead>
        <tbody th:each="el,i : ${products}" class="table-body">
        <tr>
            <td th:text="${i.count}"></td>
            <td th:text="${el.title}" id="td-title"></td>
            <td th:text="${el.description}"></td>
            <td th:text="${el.price}"></td>
            <td>
                <img th:src="@{/images/{id}(id=${el.previewImageId})}" height="30 px">
            </td>
            <td>
                <a th:href="@{/product/{id}(id=${el.id})}">Подробнее</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/}" method="get">
        <span>Название товара: <input type="text" name="title"></span>
        <input type="submit" value="поиск">
    </form>
</div>

<div th:if="${#lists.isEmpty(products)}">
    <span>Товаров нет</span>
</div>
<br>
<hr>
<br>
<div th:if="${user ne null}">
<h3>Добавление товара</h3>
<form th:action="@{/product}" method="post" enctype="multipart/form-data">
    <span>Название товара: <input type="text" name="title"></span><br>
    <span>Описание товара: <input type="text" name="description"></span><br>
    <span>Цена товара: <input type="number" name="price"></span><br>
    <span>Город: <input type="text" name="city"></span><br>
    <span>Загрузите фото: <input type="file" name="files" multiple required></span><br>
    <input type="submit" value="добавить">
</form>
</div>
</body>
</html>