<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head-bs-4 :: head-bs-4"></head>
<body style="background: black;">
<header th:insert="fragment/navbar :: header-bs-4"></header>
<div class="container col-8">
    <h2 class="text-center text-info">Информация о товаре</h2>
    <div class="d-flex justify-content-center">
        <table class="table table-bordered table-hover table-responsive-md table-dark text-white-50">
            <thead>
            <tr class="bg-primary text-white">
                <td>Название</td>
                <td>Описание</td>
                <td>Цена</td>
                <td>Город</td>
                <td>Продавец</td>
            </tr>
            </thead>
            <tbody>
            <tr class="text-white-50">
                <td th:text="${product.title}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.city}"></td>
                <td>
                    <a th:href="@{'/user/'+${product.user.id}}">
                        <span th:text="${product.user.name}"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr class="bg-warning">
<div class="container col-3 justify-content-center mt-3">
    <h3 class="text-primary">Фото товара</h3>
    <div th:each="image: ${product.images}">
        <img th:src="'/images/'+${image.id}" height="100 px" class="border border-success"><br><br>
    </div>
</div>
<hr class="bg-danger">
<div class="container col-2 justify-content-center mt-2">
    <form th:action="@{'/product/delete/'+${product.id}}" class="form-inline" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Удалить товар</button>
        </div>
    </form>
</div>
<span th:insert="fragment/scripts :: scripts-bs-4-1"></span>
<span th:insert="fragment/scripts :: scripts-bs-4-2"></span>
</body>
</html>