<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head-bs-4 :: head-bs-4"></head>
<body style="background: black;">
<header th:insert="fragment/navbar :: header-bs-4"></header>
<div class="container">
    <h4 class="text-info my-2"> Назначить права пользователя: <span th:text="${user.name}" class="text-warning"></span></h4>
<div class="d-flex justify-content-start">
    <form th:action="@{/admin/user/edit/{id}(id=${user.id})}" method="post" id="form_id">
        <div class="form-check" th:each="role:${roles}">
            <input class="form-check-input" title="choose ROLE" type="checkbox" name="roles"
                   th:value="${role.name()}"
                   th:checked="${user.roles.contains(role)}">
            <label th:text="${role.name()}" class="text-primary font-weight-bold"></label>
        </div>
        <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
    </form>
</div>
</div>
<script src="/main.js"></script>
<span th:insert="fragment/scripts :: scripts-bs-4-1"></span>
<span th:insert="fragment/scripts :: scripts-bs-4-2"></span>
</body>
</html>